html, body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

/** {
  border: thin solid red;
}*/

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background-color: rgb(30, 30, 30);
}

.welcome {
  margin-top: 50px;
  width: 45%;
}

.title { margin-top: 50px; }

.logo-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 75px;
}

.logo {
  height: 64px;
  width: 64px;
}

.logo:hover { color: cyan; }

.text-logo {
  color: white;
}

.link { color: cyan; }
.link:hover { color: lightblue; }

.skills-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

a {
  text-decoration: none;
  width: 100%;
}

h1 {
  font-family: sans-serif;
  color: white;
  width: 100%;
}

p, li {
  font-family: sans-serif;
  color: white;
  line-height: 2em;
  width: 100%;
}

.skills-row h1 { font-size: 12pt; }

@media (max-width: 576px) {
  .welcome { width: 80%; }
  .logo-row { height: 100px; }
  .logo {
    width: 32px;
    height: 32px;
  }
  .text-logo { font-size: 12pt; }
  .skills-row { flex-direction: column; }
}

@media (max-width: 992px) {
  .welcome { width: 70%; }
}
