 html, body {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	float: left;
	background-color: rgb(250, 250, 250);
}

/* Remove default link decorations. */
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

/* =================================== NAVBAR ================================== */
.nav-container {
	position: absolute;
	display: flex;
	flex-direction: row;
	height: 6vh;
	width: 100%;
	background-color: transparent;
	padding: 0;
	margin-top: 3vh;
	/*box-shadow: 0px 6px 3px -3px black;*/
	z-index: 3;
}

/* Container for right side of navbar. */
.button-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 6vh;
	width: 75%;
	padding: 0;
	margin: 0;
}

/* Single item in the right side of navbar (resume, github ...) */
.nav-item {
	display: flex;
	height: 6vh;
	width: 15%;
	justify-content: center;
	margin-right: 10px;
	border-radius: 5px;
}

.nav-item:active, .nav-item:hover {
		border-color: rgb(200,200,200); 
		border-width: thin; 
		border-style: solid;
		outline: none;
	}

/* Text in each item on the right side of navbar */
.nav-item h3 {
	color: black;
	font-size: 1.3em;
	font-family: 'Titillium Web', sans-serif;
}

/* Name in the left corner of navbar. */
.name {
	display: flex;
	height: 8vh;
	width: 25%;
	justify-content: center;
}

.name h3 {
	color: black;
	font-size: 1.3em;
	font-family: 'Titillium Web', sans-serif;
}

@media (max-width: 786px) {
	.nav-item h3 {
		font-size: 1em;
	}

	.name h3 {
		font-size: 1em;
	}
}

@media (max-width: 430px) {
	.nav-item h3 {
		font-size: .8em;
	}

	.name h3 {
		font-size: .8em;
	}
}

/* =================================== WELCOME BLOCK ================================== */
.top-block-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-height: 100%;
	padding-top: 8vh;
	background-color: rgb(245,245,245);
}

.about-me {
	position: absolute;
	right: 13vw;
	margin-top: 15vh;
	top: 5vh;
	bottom: 15vh;
	min-height: 30%;
	width: 75%;
}

@keyframes fontAnimation {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Hello text. */
.hello {
	padding-left: 10px;
	font-size: 36pt;
	color: black
	font-family: 'Titillium Web', sans-serif;
}

.welcome {
	font-size: 16pt;
	padding-left: 10px;
	color: black;
	width: 75%;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	animation-name: fontAnimation;
	animation-duration: 1.5s;
}

/* Container that holds the about-text */
.under-welcome {
	display: flex;
	justify-content: center;
	margin-top: 30vh;
	min-height: 50vh;
	width: 100%;
}

.about-text {
	width: 75%;
	margin-top: 5vh;
	line-height: 2em;
	font-size: 10pt;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
	animation-name: fontAnimation;
	animation-duration: 1.5s;
}

@media(min-width: 400px) {
	.about-text {
		font-size: 12pt; 
	}
}

@media (min-width: 786px) {
	.about-text {
		font-size: 16pt;
	}
}

@media (min-width: 1224px) {
	.hello {
		font-size: 38pt;
	}

	.welcome {
		font-size: 18pt;
	}

	.about-text {
		font-size: 18pt;
	}
}



/* =================================== SKILLS BLOCK ================================== */

.skills-container {
	display: flex;
	flex-direction: column;
	float: left;
	height: 50em;
	width: 100%;
	background-color: rgb(235, 235, 235);
}

.skills-title {
	font-size: 24pt;
	width: 100%;
	text-align: center;
	color: black;
	font-family: 'Titillium Web', sans-serif;
	/*text-shadow: 3px 3px 7px rgb(195,195,195);*/
}

.icon-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	height: 75%;
	width: 100%;
	margin-top: 10vh;
	padding-bottom: 5vh;
}

i {
	font-size: 24pt;
	text-align: center;
	width: 15%;
	height: 15%;
}

/* =================================== PROJECTS BLOCK ================================== */

#projectContainer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	clear: both;
	min-height: 75vh;
	width: 100%;
	background-color: rgb(245,245,245);
}

.project-title {
	text-align: center;
	width: 100%;
	font-family: 'Titillium Web', sans-serif;
	font-size: 24pt;
	/*text-shadow: 3px 3px 7px rgb(210,210,210);*/
}

.project {
	height: 40vh;
	width: 100%;
	margin: 0 auto;
	/*border: thin solid lightgray;*/
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.project-pic {
	height: 100%;
	width: 100%;
}

.project-pic:hover {
	opacity: .5;
}
.project-pic:active {
	opacity: .5;
}

.project-description {
	opacity: .4;
}

@media (max-width: 500px) {
	.skills-container {
		height: 30em;
	}
}

@media (min-width: 500px) {

	i {
		font-size: 48pt;
	}

	.project {
		width: 35vh;
	}
}

@media (min-width: 786px) {
	.project-title, .skills-title, .contact-text {
		font-size: 48pt;
	}

	.contact-info {font-size: 16pt;}
}

/* =================================== CONTACT BLOCK ================================== */

.contact-container {
	min-height: 50vh;
	width: 100%;
	background-color: rgb(235, 235, 235);
}

.contact-text-container {
	display: flex;
	justify-content: center;
	height: 8vh;
}

 #contactInfoContainer {
 	display: flex;
 	flex-direction: column;
 	padding-top: 8vh;
 }

.contact-text {/*text-shadow: 3px 3px 7px rgb(195,195,195);*/}

.contact-text, .contact-info {
	text-align: center;
	color: black;
	font-family: 'Titillium Web', sans-serif;
}
