html, body {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	float: left;
	background-color: rgb(250, 250, 250);
	/*background-image: url("./images/background.jpg");
	background-attachment: fixed;*/
}

/* Remove default link decorations. */
a:link {text-decoration: none;}
a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
a:active {text-decoration: none;}

/* Navbar */
.navContainer {
	position: absolute;
	display: flex;
	flex-direction: row;
	height: 8vh;
	width: 100%;
	/*background-color: rgb(40, 40, 40);*/
	background-color: transparent;
	padding: 0;
	margin: 0;
	/*box-shadow: 0px 6px 3px -3px black;*/
	z-index: 3;
}

/* Container for right side of navbar. */
.buttonContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	height: 8vh;
	width: 75%;
	padding: 0;
	margin: 0;
}

/* Single item in the right side of navbar (resume, github ...) */
.navItem {
	display: flex;
	height: 8vh;
	width: 15%;
	justify-content: center;
	margin-right: 10px;
}

.navItem:active {border-color: blue; border-width: thin; border-style: solid;}
.navItem:hover {border-color: blue; border-width: thin; border-style: solid;}
.navItem:focus {border-color: blue; border-width: thin; border-style: solid; outline: none;}

/* Text in each item on the right side of navbar */
.navItem h3 {
	color: black;
	font-size: 1.3em;
	font-family: 'Titillium Web', sans-serif;
}

/* Name in the left corner of navbar. */
.name {
	display: flex;
	height: 8vh;
	width: 25%;
	justify-content: center;
}

.name h3 {
	color: black;
	font-size: 1.3em;
	font-family: 'Titillium Web', sans-serif;
}

@media (max-width: 736px) {
	.navItem h3 {
		font-size: 1em;
	}

	.name h3 {
		font-size: 1em;
	}
}

@media (max-width: 430px) {
	.navItem h3 {
		font-size: .8em;
	}

	.name h3 {
		font-size: .8em;
	}
}

.topBlockContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	padding-top: 8vh;
}

.aboutMe {
	position: absolute;
	bottom: 15vh;
	right: 0;
	height: 60%;
	width: 75%;
	animation-name: flyIn;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
}

@keyframes flyIn {
	from {
		right: 400vh;
	}
	to {
		right: 0;
	}
}

.hello {
	color: blue;
	font-family: 'Titillium Web', sans-serif;

}

.welcome {
	color: black;
	font-family: 'Titillium Web', sans-serif;

}

.underWelcome {

}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Div containing title + projects. */
.projectContainer {
	display: flex;
	flex-direction: column;
	min-height: 150vh;
	width: 100%;
	padding-bottom: 10vh;
	background-color: transparent;
}

/* Div containing the projects */
.projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding-top: 5vh;
}

.projectTitle {
	height: 5vh;
	color: black;
	font-family: 'Titillium Web', sans-serif;
}

/* Title below navbar. */
.pageTitle {
	width: 100%;
	text-align: center;
	color: black;
	font-family: 'Titillium Web', sans-serif;
	/*text-shadow: 2px 2px 3px rgb(45, 45, 45);*/
}

/* Project div (contains the pic and description). */
.project {
	display: flex;
	flex-direction: column;
	margin-top: 3vh;
	margin-right: 3vh;
	margin-left: 3vh;
	width: 23%;
	height: 60vh;
	box-shadow: -2px 2px 8px rgb(200, 200, 200), 2px 2px 6px rgb(200, 200, 200);
}

@media (max-width: 880px) {
	.project {
		width: 35vh;
		min-height: 55vh;
	}
}

@media (max-width: 793px) {
	.projects {
		justify-content: space-around;
	}
}

@media (max-width: 637px) {
	.projectContainer {
		flex-wrap: wrap;
	}

	.projects {
		justify-content: center;
	}

	.project { 
		width: 55%;
		height: 65vh;
	}
}


.projectPic {
	height: 50%;
	width: 100%;
	background-color: black;
}

.projectDesc {
	text-align: center;
	height: 50%;
	width: 100%;
	background-color: white;
}

.description {
	font-size: 12pt;
	color: black;
	font-family: 'Titillium Web', sans-serif;
}

@media (max-width: 330px) {
	.description {
		font-size: 10pt;
	}
}